body{
    width: 800px;
    height:800px;
    margin:0;
 
    scroll-behavior: smooth;
    
    
}

#ball{
    width:250px;
    height:230px;
    border-radius: 50%;
    background-color: red;
    opacity:0.7;
    margin:0;
    position: fixed;
    
}
